<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-赛事_公告详情-赛事报名-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

 <!--文章 详情开始-->
<div class="container_1200">
    <!--面包屑-->
    <div class="crumb_nav">
       <a>首页</a> > <a>人才库</a> > <a>公告详情</a> > <span>赛事报名</span>
    </div>
    <!--文章内容-->
    <div class="article_content clearfix">
        <div class="article_date">
            <div class="article_date_y">
                2018
            </div>
            <div class="article_date_md">
                06-20
            </div>
            <div class="article_classify">
                公司动态
            </div>
        </div>
        <div class="article_content_mid">
            <div class="article_title">
                阿里大文娱与迪士尼旗下发行公司签下多年期合约
            </div>
            <div class="article_subtitle">
                最多迪士尼经典动画系列剧集登陆优酷及部分与阿里巴巴有合作的OTT平台
            </div>
            .................
        </div>
        <div class="article_content_right">
             <a class="ss_ljcj">立即参加</a>
            <div class="contestant">
                <div class="contestant_top">
                    已参加(8人)
                 <span><i class="icon_female"></i><label>4</label><i class="icon_male"></i><label>3</label></span>
                </div>
                <ul class="contestant_mid">
                    <li>
                        <div class="img_box">
                            <img src="../assets/images/p.png">
                        </div>
                        小张伟
                        <span>已确认</span>
                    </li>
                    <li>
                        <div class="img_box">
                            <img src="../assets/images/p.png">
                        </div>
                        小张伟
                        <span>已确认</span>
                    </li>
                    <li>
                        <div class="img_box">
                            <img src="../assets/images/p.png">
                        </div>
                        小张伟
                        <span>未确认</span>
                    </li>
                    <li>
                        <div class="img_box">
                            <img src="../assets/images/p.png">
                        </div>
                        小张伟
                        <span>未确认</span>
                    </li>
                </ul>
                <ul class="pagination">
                    <li>
                        < 上一页
                    </li>
                    <li class="on">
                        1
                    </li>
                    <li>
                        2
                    </li>
                    <li>
                        3
                    </li>
                    <li>
                        下一页 >
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--上一篇 下一篇-->
    <div class="article_ctrl clearfix">
        <div class="article_ctrl_prev">
            <a>
            <span>上一篇：</span>
            阿里巴巴集团向Lazada集团增资20亿美元阿里巴巴集团向Lazada集团增资20亿美元
            </a>
        </div>
        <div class="article_ctrl_next">
            <a>
            <span>下一篇：</span>
            阿里巴巴集团向Lazada集团增资20亿美元
            </a>
        </div>

    </div>

</div>

 <!--文章 详情开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">
            <i class="backtop"></i>
            返回顶部
        </li>
        <li>
            <a>
                <i class="wechat"></i>
                关注我们
            </a>
            <div class="hide">
                <div class="title">
                    微信公众号
                </div>
                <img src="../assets/images/qrcode.png">

            </div>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                QQ咨询
            </a>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                注册会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>