<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-产品与服务-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

<!--内容 开始-->

<section>
    <!--banner开始-->
    <div class="s2_banner">
    </div>
    <!--banner结束-->


    <!--产品与服务开始-->
    <div class="s2_second">
        <div class="s2_second_1">
            <p class="s2_second_1_p">首页 > <span>产品与服务</span></p>

            <ul class="s2_second_ul1">
                <li class="s2_second_li1">
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture1.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2 s2_second_d3">
                        <dl>
                            <dt>职业技能</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1 s2_second_d2_first"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture2.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2">
                        <dl>
                            <dt>企业内训</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture3.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2">
                        <dl>
                            <dt>学历培训</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture4.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2">
                        <dl>
                            <dt>出国游学</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="s2_second_ul2">
                <li class="s2_second_li1">
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture1.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2">
                        <dl>
                            <dt>职业技能</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1 s2_second_d2_first"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture2.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2">
                        <dl>
                            <dt>企业内训</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture3.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2">
                        <dl>
                            <dt>学历培训</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="s2_second_img1">
                        <img src="../assets/images/cpyfw/picture4.png" height="217" width="290"/>
                        <div>
                            <p>
                                A SKILL MAKES THE FUTURE<br/>
                                <span> 一门技能成就未来</span>
                            </p>
                        </div>
                    </div>

                    <div class="s2_second_d2">
                        <dl>
                            <dt>出国游学</dt>
                            <dd>技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...</dd>
                        </dl>
                        <div>
                            <a class="s2_second_d2_a1"  href="javascript:void (0)">咨询客服</a>
                            <a class="s2_second_d2_a2"  href="javascript:void (0)">了解详情</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="s2_second_2">
            <ul>
                <li class="s2_second_2_prev"><a href="javascript:void (0)">< 上一页</a></li>
                <li class="s2_second_2_a s2_second_2_a1"><a href="javascript:void (0)">1</a></li>
                <li class="s2_second_2_a"><a href="javascript:void (0)">2</a></li>
                <li class="s2_second_2_a"><a href="javascript:void (0)">3</a></li>
                <li class="s2_second_2_a"><a href="javascript:void (0)">4</a></li>
                <li class="s2_second_2_a"><a href="javascript:void (0)">5</a></li>
                <li class="s2_second_2_a"><a href="javascript:void (0)">6</a></li>
                <li class="s2_second_2_next"><a href="javascript:void (0)">下一页 ></a></li>
            </ul>
        </div>
    </div>
    <!--产品与服务结束-->
</section>


<!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">

        </li>
        <li>
            <a>
                关注<br>
                我们
            </a>
        </li>
        <li>
            <a>
                QQ<br>
                咨询
            </a>
        </li>
        <li>
            <a>
                注册<br>
                会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>