<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-关于我们_发展历程-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

  <!--内容 开始-->
<div class="development-title">
    <ul class="mid_nav clearfix container_1200">
        <li><a>协会简介</a></li>
        <li><a>协会章程</a></li>
        <li class="on"><a>发展历程</a></li>
        <li><a>专家委员会</a></li>
        <li><a>联系我们</a></li>
        <li><a>加入我们</a></li>
    </ul>
</div>



<div class="container_1200">
    <!--面包屑-->
    <div class="crumb_nav">
       <a>首页</a> > <a>会员服务</a> >  <span>阿里巴巴介绍</span>
    </div>
</div>


<div class="a-main">

    <div class="ab-development" id="ab-development">
        <div class="container_1200 ab-development-in">
            <div class="slideGroup">
                <div class="parHd" >
                    <ul class="tab-list clearfix">
                        <li class="on">2018</li>
                        <li class="on">2017</li>
                        <li class="on">2016</li>
                        <li class="on">2015</li>

                    </ul>
                </div>
                <div class="parBd">
                    <div class="slideBox" id="slideBox-1">
                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="sPrev" href="javascript:void(0)"></a>
                        <a class="sNext" href="javascript:void(0)"></a>
                        <ul>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">01月23日 公司正式取得全国中小企业股份转让系统下发的《关于同意深圳市中鹏教育科技股份有限公司股票</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">01.23</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">02月21日，公司收购深圳市中鹏教育管理有限公司其余49%的股权。本次收购完成后，深圳市中鹏教育管理</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">02.21</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">04月10日，公司全资子公司深圳市中鹏教育管理有限公司出资设立控股子公司深圳市云蜥科技有限公司。</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.10</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">05月09日，公司取得由深圳市中小企业服务署颁发的深圳市创新型中小微企业备案确认证书，纳入深圳市中小</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">05.09</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">05月15日，深圳市中鹏教育科技股份有限公司2016年年度股东大会在公司会议室隆重召开。</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">05.15</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">06月30日，公司收购其余股东所持深圳市灵蜥科技有限公司20%的股权。本次收购完成后，中鹏教育持有深</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">06.30</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">06月30日，公司董事会审议通过《关于深圳市中鹏教育科技股份有限公司定向发行股票的议案》。</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">06.30</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">07月25日，公司下属单位广东中鹏职业培训学校荣获广东省全省性社会组织评估委员会颁发的4A级培训机构</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">07.25</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">09月19日，深圳市中鹏教育科技股份有限公司控股子公司喀什中鹏教育科技有限公司正式设立。</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">09.19</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">12月04日，公司完成对深圳市设计之窗文化发展有限公司的收购工作。</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">12.04</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0);">12月28日，公司高德全董事长代表广东省商务厅出席2017“中融跨港通杯”第二届中国电商讲师大赛全国</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">12.28</p>
                            </li>
                        </ul>
                        <div class="dotted-line"></div>
                    </div><!-- slideBox End -->
                    <div class="slideBox" id="slideBox-2">
                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="sPrev" href="javascript:void(0)"></a>
                        <a class="sNext" href="javascript:void(0)"></a>
                        <ul>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">01月22日 中鹏培训2015年度工作总结暨表彰大会圆满举行</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">01.22</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">01月03日 中鹏培训宝安校区完成扩建至1300平米</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">01.03</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">03月16日 深圳市中鹏资讯有限公司投资控股深圳市灵蜥科技有限公司</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">03.16</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">03月11日 深圳市人力资源和社会保障局王卫局长率队调研考察中鹏培训</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">03.11</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">04月06日 深圳市灵蜥科技有限公司全资子公司广州商派蓝联管理咨询有限公司成立</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.06</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">04月08日 深圳市中鹏资讯有限公司完成股份制改造，正式更名为“深圳市中鹏教育科技股份有限公司”</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.08</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">04月20日 中国教育学会戴家干会长率队考察中鹏培训</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.20</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">05月27日 与中国石油大学（华东）网络教育学院正式签定协议，设立“中国石油大学现代远程教育深圳中鹏</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">05.27</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">06月11日 中鹏培训广州校区扩建，校区场地为三层独栋教学楼，教学面积扩张至近3000平米</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">06.11</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">06月13日 中鹏培训应邀参加由广东省职业技能鉴定指导中心组织的“粤澳合作设施管理师一试多证”项目研</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">06.13</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">06月18日 深圳市中鹏教育科技股份有限公司正式完成深圳市中小企业改制上市备案登记</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">06.18</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">06月25日 深圳市中鹏教育科技股份有限公司官方网站正式上线，网址www.zhongpenggufe</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">06.25</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">06月27日 中鹏在线教育平台“灵蜥网”正式通过ICP互联网增值服务许可备</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">06.27</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">07月22日 中鹏股份投资设立控股子公司“东莞中鹏教育科技有限公司”</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">07.22</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">08月04日 深圳市福田区人力资源局领导携珠海市香洲区人力资源和社会保障局领导一行调研中鹏培训</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">08.04</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">08月14日 中鹏培训广州校区乔迁新址暨广东中鹏云图教育科技有限公司、广州市商派蓝联管理咨询有限公司</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">08.14</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">08月15日 中鹏股份投资设立控股子公司“广东中鹏云图教育科技有限公司”</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">08.15</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">08月30日 深圳市中鹏教育科技股份有限公司当选为广东劳动学会、广东省人力资源管理协会副会长单位</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">08.30</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">09月09日 中鹏股份下属两家培训机构深圳市福田区中鹏职业培训中心、深圳市宝安区中鹏职业培训中心分别</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">09.09</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">09月18日 中鹏股份控股子公司“深圳市中鹏教育管理有限公司”正式设立</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">09.18</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">09月20日 中鹏股份控股子公司“深圳市中鹏网络艺术有限公司”正式设立</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">09.20</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">09月25日 中鹏股份协办的2016年广东省“中鹏杯”广告设计职业技能竞赛（省级二类）圆满结束</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">09.25</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">12月17日 由深圳市中鹏教育科技股份有限公司承办的“2016年广东省职业技能大赛工业设计竞赛”（省</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">12.17</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">12月21日 与深圳泥巴公社装饰工程设计有限公司签定“校企合作实习基地协议书”，正式建立校企合作关系</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">12.21</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">12月27日 与华南师范大学签定自学考试合作协议</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">12.27</p>
                            </li>
                        </ul>
                        <div class="dotted-line"></div>
                    </div><!-- slideBox End -->
                    <div class="slideBox" id="slideBox-3">
                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="sPrev" href="javascript:void(0)"></a>
                        <a class="sNext" href="javascript:void(0)"></a>
                        <ul>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">2015年1月 深圳市人力资源和社会保障局认定“中鹏培训”为深圳高技能人才培训基地、深圳市技师工作站</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">01.01</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">2015年3月 中鹏培训荣膺深圳市宝安区社区教育协会理事单位。</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">03.01</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">2015年4月 秉承“教育+互联网”的发展理念，公司于2015年启动线上教育培训业务，自主研发具备独</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.01</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">2015年4月    受深圳市福田区总工会委托，中鹏培训承办“创意·品味 圆梦福田2015福田区第三</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.06</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">2015年4月18日，由深圳市高技能人才公共实训管理服务中心主办“室内设计与居家健康”技术讲座在深圳</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.18</p>
                            </li>
                        </ul>
                        <div class="dotted-line"></div>
                    </div><!-- slideBox End -->
                    <div class="slideBox" id="slideBox-4">
                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="sPrev" href="javascript:void(0)"></a>
                        <a class="sNext" href="javascript:void(0)"></a>
                        <ul>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">01.03 中鹏承办中山市东海船舶有限公司“游艇外观可视化设计” 内训工作</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">01.03</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">03.09 中鹏培训获得国际商业美术设计师协会深圳考试中心授权</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">03.09</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">03.14 获批进驻深圳市高技能人才公共实训基地</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">03.14</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">04.05 中鹏培训牵头举办深圳建筑动画爱好者互动交流会(CG交流会)</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.05</p>
                            </li>
                            <li>
                                <div class="development-node ">
                                    <p><a href="javascript:void(0)">04.15 中鹏培训承接深圳市民政局政府培训项目</a></p>
                                </div>
                                <i class="icon"></i>
                                <p class="time">04.15</p>
                            </li>
                        </ul>
                        <div class="dotted-line"></div>
                    </div><!-- slideBox End -->
                </div><!-- parBd End -->
            </div>
        </div>
    </div>

</div>

 <!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">
            <i class="backtop"></i>
            返回顶部
        </li>
        <li>
            <a>
                <i class="wechat"></i>
                关注我们
            </a>
            <div class="hide">
                <div class="title">
                    微信公众号
                </div>
                <img src="../assets/images/qrcode.png">

            </div>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                QQ咨询
            </a>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                注册会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>