<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-会员风采_会员企业-会员人物-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

 <!--内容 开始-->
<section>
    <!--banner开始-->
    <div class="s_13banner"></div>
    <!--banner结束-->

    <!--nav开始-->
    <div class="s_13first">
        <div class="s_13first_1">
            <ul>
                <li><a href="javascript:void (0)" class="s_13first_1_a2">人才服务</a></li>
                <li><a href="javascript:void (0)" class="s_13first_1_a1">会员服务</a></li>
                <li><a href="javascript:void (0)" class="s_13first_1_a2">会员中心</a></li>
            </ul>
            <p class="s_13_first_1_p">首页 > 关于我们 > <span>会员服务</span></p>
        </div>
    </div>
    <!--nav结束-->

    <div class="s_13second">
        <div>
            <ul class="s_13second_u1">
                <li><span class="s_13second_span2">会员企业风采</span>
                    <div class="s_13second_top_left1">
                        <ul>
                            <li>
                                <div class="s_13second_d2">
                                    <img src="../assets/images/hyrw/picture1.png" height="238" width="290"/>
                                    <div><span>王东阳</span>博士生导师</div>
                                    <p class="s_13second_d2_p1">主要从事农业经济与管理、农业科技发 展、农村公共政策研究工作。</p>
                                    <p class="s_13second_d2_p2"><a class="s_13second_d2_p2_a1" href="javascript:void(0)">了解详情 ></a></p>
                                </div>

                                <div class="s_13second_d2">
                                    <img src="../assets/images/hyrw/picture2.png" height="238" width="290"/>
                                    <div><span>曹雪</span>花艺设计师</div>
                                    <p class="s_13second_d2_p1">曹雪（曹小花、小花老师），花田小憩 植物生活美学平台创始人，美国花艺学 院认证教授。</p>
                                    <p class="s_13second_d2_p2"><a class="s_13second_d2_p2_a2" href="javascript:void(0)">了解详情 ></a></p>
                                </div>

                                <div class="s_13second_d2">
                                    <img src="../assets/images/hyrw/picture3.png" height="238" width="290"/>
                                    <div><span>李红兵</span>品牌设计师</div>
                                    <p class="s_13second_d2_p1">年高校的设计教育，24年的设计实务， 他是中国将VI.CI引入学校课堂教学的第 一人。</p>
                                    <p class="s_13second_d2_p2"><a class="s_13second_d2_p2_a2" href="javascript:void(0)">了解详情 ></a></p>
                                </div>
                            </li>

                            <li>
                                <div class="s_13second_d2">
                                    <img src="../assets/images/hyrw/picture4.png" height="238" width="290"/>
                                    <div><span>王东阳</span>博士生导师</div>
                                    <p class="s_13second_d2_p1">主要从事农业经济与管理、农业科技发 展、农村公共政策研究工作。</p>
                                    <p class="s_13second_d2_p2"><a class="s_13second_d2_p2_a2" href="javascript:void(0)">了解详情 ></a></p>
                                </div>

                                <div class="s_13second_d2">
                                    <img src="../assets/images/hyrw/picture5.png" height="238" width="290"/>
                                    <div><span>曹雪</span>花艺设计师</div>
                                    <p class="s_13second_d2_p1">曹雪（曹小花、小花老师），花田小憩 植物生活美学平台创始人，美国花艺学 院认证教授。</p>
                                    <p class="s_13second_d2_p2"><a class="s_13second_d2_p2_a2" href="javascript:void(0)">了解详情 ></a></p>
                                </div>

                                <div class="s_13second_d2">
                                    <img src="../assets/images/hyrw/picture6.png" height="238" width="290"/>
                                    <div><span>李红兵</span>品牌设计师</div>
                                    <p class="s_13second_d2_p1">年高校的设计教育，24年的设计实务， 他是中国将VI.CI引入学校课堂教学的第 一人。</p>
                                    <p class="s_13second_d2_p2"><a class="s_13second_d2_p2_a2" href="javascript:void(0)">了解详情 ></a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li><span class="s_13second_span1">会员人物风采</span></li>
            </ul>

            <ul class="s_13second_u2">
                <li class="s_13second_u2_prev"><a href="javascript:void (0)">< 上一页</a></li>
                <li class="s_13second_u2_a s_13second_u2_a1"><a href="javascript:void (0)">1</a></li>
                <li class="s_13second_u2_a"><a href="javascript:void (0)">2</a></li>
                <li class="s_13second_u2_a"><a href="javascript:void (0)">3</a></li>
                <li class="s_13second_u2_a"><a href="javascript:void (0)">4</a></li>
                <li class="s_13second_u2_a"><a href="javascript:void (0)">5</a></li>
                <li class="s_13second_u2_a"><a href="javascript:void (0)">6</a></li>
                <li class="s_13second_u2_next"><a href="javascript:void (0)">下一页 ></a></li>
            </ul>
        </div>
    </div>
</section>
 <!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">

        </li>
        <li>
            <a>
                关注<br>
                我们
            </a>
        </li>
        <li>
            <a>
                QQ<br>
                咨询
            </a>
        </li>
        <li>
            <a>
                注册<br>
                会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>