<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
  <!--logo、导航开始-->
   <div class="sm-header">
       <div class="container_1200">
           <div class="sm-header-box">
               <ul class="sm-nav clearfix">
                   <li class="on"><a>首页</a></li>
                   <li><a>资讯动态</a></li>
                   <li><a>关于我们</a></li>
                   <li><a>产品与服务</a></li>
                   <li><a>会员风采</a></li>
                   <li><a>专业委员会</a></li>
                   <li><a>人才库</a></li>
                   <li><a>品牌推介</a></li>
               </ul>
               <div class="sm-header-tel">
                   服务热线(仅收市话费)
                  <span>400-0000-000</span>
               </div>
           </div>
       </div>
   </div>
  <!--logo、导航结束-->

  <!--banner开始-->
  <div class="sm-banner">

      <div class="bd">
          <ul>
              <li>
                  <a><img src="../assets/images/banner.png" /></a>
                  <div class="sm-banner-title">
                      成为最受尊敬的企业是我们的愿景目标
                  </div>
              </li>
              <li>
                  <a><img src="../assets/images/banner.png" /></a>
                  <div class="sm-banner-title">
                      成为最受尊敬的企业是我们的愿景目标
                  </div>
              </li>
              <li>
                  <a><img src="../assets/images/banner.png" /></a>
                  <div class="sm-banner-title">
                      成为最受尊敬的企业是我们的愿景目标
                  </div>
              </li>
          </ul>
      </div>
      <div class="sm-nav-ctl container_1200">
          <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
          <a class="prev" href="javascript:void(0)"></a>
          <a class="next" href="javascript:void(0)"></a>
          <div class="hd">
              <ul><li></li><li></li><li></li></ul>
          </div>
      </div>
  </div>
  <script type="text/javascript">
      jQuery(".sm-banner").slide({mainCell:".bd ul",autoPlay:true});
  </script>

  <!--banner结束-->

  <!--新闻动态开始-->
  <div class="sm-news container_1200 clearfix">
       <div class="sm-news-left">
           <div class="sm-news-title">新闻动态</div>
           <div class="sm-news-slideTxtBox">
               <div class="hd">
                   <ul><li>协会公告</li><li>行业动态</li><li>协会动态</li></ul>
                   <a class="sm-news-more">MORE ></a>
               </div>
               <div class="bd">
                   <div class="clearfix">
                       <div class="sm-news-list-left">
                           <img class="lazy" data-original="../assets/images/news.png"/>
                           <div class="list-left-title">
                               重磅！2017年交互界面（UI）设计职业技能设计职业技能
                           </div>
                           <div class="list-left-content">
                               重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能
                           </div>
                       </div>
                       <ul class="sm-news-list-right">
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>

                       </ul>
                   </div>
                   <div class="clearfix">
                       <div class="sm-news-list-left">
                           <img class="lazy" data-original="../assets/images/news.png"/>
                           <div class="list-left-title">
                               重磅！2017年交互界面（UI）设计职业技能设计职业技能
                           </div>
                           <div class="list-left-content">
                               重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能
                           </div>
                       </div>
                       <ul class="sm-news-list-right">
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>

                       </ul>
                   </div>
                   <div class="clearfix">
                       <div class="sm-news-list-left">
                           <img class="lazy" data-original="../assets/images/news.png"/>
                           <div class="list-left-title">
                               重磅！2017年交互界面（UI）设计职业技能设计职业技能
                           </div>
                           <div class="list-left-content">
                               重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能重磅！2017年交互界面（UI）设计职业技能设计职业技能
                           </div>
                       </div>
                       <ul class="sm-news-list-right">
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>
                           <li class="clearfix">
                               <div class="news-time">
                                   <div class="news-time-y">2018</div>
                                   <div class="news-time-md">06-13</div>
                               </div>
                               <div class="news-content">
                                   <div class="news-content-title">
                                       重磅！2017年交互界面（UI）设计职2017年交互界面
                                   </div>
                                   <div class="news-content-summary">
                                       在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的大力支持下，2017...
                                   </div>
                               </div>
                           </li>

                       </ul>
                   </div>
               </div>
           </div>
           <script type="text/javascript">jQuery(".sm-news-slideTxtBox").slide();</script>
       </div>
      <div class="sm-news-right">
          <a class="sqrh">
             申请<br>入会
          </a>
          <ul class="rhzg clearfix">
              <a><li>入会资格</li></a>
              <a><li>入会流程</li></a>
              <a><li>会员守则</li></a>
              <a><li>会员权利</li></a>
          </ul>

      </div>
  </div>

  <!--新闻动态结束-->

  <!--赛事、活动开始-->
  <div class="sm-sshd container_1200 clearfix">
      <div class="sm-ss">
          <div class="sm-sshd-title">
               <img class="lazy" data-original="../assets/images/ss.png"/>
              赛事公告
              <a>MORE ></a>
          </div>
          <ul class="sm-ss-list">
              <li>
                  <a>
                      【公告】这是一篇很长的游记
                      <div class="list-time">2018-06-14</div>
                  </a>
              </li>
              <li>
                  <a>
                      【成绩公布】雾中看人一似无，午时云山未显真
                      <div class="list-time">2018-06-14</div>
                  </a>
              </li>
              <li>
                  <a>
                      【成绩公布】雾中看人一似无，午时云
                      <div class="list-time">2018-06-14</div>
                  </a>
              </li>
              <li>
                  <a>
                      【成绩公布】雾中看
                      <div class="list-time">2018-06-14</div>
                  </a>
              </li>

          </ul>

      </div>
      <div class="sm-ss">
          <div class="sm-sshd-title">
              <img class="lazy" data-original="../assets/images/hd.png"/>
              活动报名
              <a>MORE ></a>
          </div>
          <ul class="sm-ss-list">
              <li>
                  <a>
                      【公告】这是一篇很长的游记
                      <div class="list-btn-bm">报名</div>
                  </a>
              </li>
              <li>
                  <a>
                      【成绩公布】雾中看人一似无，午时云山未显真
                      <div class="list-btn-js">已结束</div>
                  </a>
              </li>
              <li>
                  <a>
                      【成绩公布】雾中看人一似无，午时云
                      <div class="list-btn-js">已结束</div>
                  </a>
              </li>
              <li>
                  <a>
                      【成绩公布】雾中看
                      <div class="list-btn-js">已结束</div>
                  </a>
              </li>

          </ul>

      </div>
  </div>
  <!--赛事、活动结束-->

  <!--协会介绍开始-->
  <div class="xhjs-top">
      <div class="xhjs-top-box container_1200">
      <ul class="clearfix">
          <li>
              <b>1999</b>年
              <span>公司成立时间</span>
          </li>
          <li>
              <b>19</b>万
              <span>注册会员</span>
          </li>
          <li>
              <b>324</b>万
              <span>人才库</span>
          </li>
          <li>
              <b>680</b>+
              <span>组织活动</span>
          </li>
          <li>
              <b>470</b>+
              <span>项目实施</span>
          </li>
      </ul>
      </div>
  </div>

  <div class="xhjs-bottom container_1200">
      <div class="xhjs-title">
          协会介绍<span>ASSOCIATION INTRODUCTION</span>
      </div>
      <div class="xhjs-content">
          我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算、数字媒体和娱乐以及创新项目和其他业务。我们并通过子公司菜鸟网络及所投资的关联公司口碑，参与物流和本地服务行业，同时与蚂蚁金融服务集团有战略合作，该金融服务集团主要通过中国领先的第三方网上支付平台支付宝运营。
      </div>
      <a class="xhjs-btn">了解详情</a>

  </div>
  <!--协会介绍结束-->

  <!--产品与服务开始-->
  <div class="sm-product container_1200">
      <div class="sm-product-title">
          产品与服务
          <a class="sm-product-more">MORE ></a>
      </div>
      <ul class="sm-product-list clearfix">
          <li>
              <img class="lazy" data-original="../assets/images/product1.png">
              <div class="sm-product-list-hide">
                  <div class="sm-product-list-border">
                      A SKILL MAKES THE FUTURE<span>一门技能成就未来</span>
                  </div>
              </div>
              <div class="product-list-content">
                  <h4>
                      职业技能
                  </h4>
                  <span>
                  技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                  <div class="sm-product-btn-group">
                      <a class="sm-product-btn sm-product-btn1">咨询客服<span>></span></a><a class="sm-product-btn">查看详情<span>></span></a>
                  </div>
              </div>
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/product2.png">
              <div class="sm-product-list-hide">
                  <div class="sm-product-list-border">
                      A SKILL MAKES THE FUTURE<span>一门技能成就未来</span>
                  </div>
              </div>
              <div class="product-list-content">
                  <h4>
                      企业内训
                  </h4>
                  <span>
                      技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                   </span>
                  <div class="sm-product-btn-group">
                      <a class="sm-product-btn sm-product-btn1">咨询客服<span>></span></a><a class="sm-product-btn">查看详情<span>></span></a>
                  </div>
              </div>
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/product3.png">
              <div class="sm-product-list-hide">
                  <div class="sm-product-list-border">
                      A SKILL MAKES THE FUTURE<span>一门技能成就未来</span>
                  </div>
              </div>
              <div class="product-list-content">
                  <h4>
                      学历培训
                  </h4>
                  <span>
                      技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                  <div class="sm-product-btn-group">
                      <a class="sm-product-btn sm-product-btn1">咨询客服<span>></span></a><a class="sm-product-btn">查看详情<span>></span></a>
                  </div>
              </div>
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/product4.png">
              <div class="sm-product-list-hide">
                  <div class="sm-product-list-border">
                      A SKILL MAKES THE FUTURE<span>一门技能成就未来</span>
                  </div>
              </div>
              <div class="product-list-content">
                  <h4>
                      出国游学
                  </h4>
                  <span>
                  技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                  <div class="sm-product-btn-group">
                      <a class="sm-product-btn sm-product-btn1">咨询客服<span>></span></a><a class="sm-product-btn">查看详情<span>></span></a>
                  </div>
              </div>
          </li>
      </ul>

  </div>
  <!--产品与服务结束-->
  <!--会员风采开始-->

  <div class="hyfc container_1200">
      <div class="sm-news-title">会员风采</div>
      <div class="hyfc-slideTxtBox">
          <div class="hd">
              <ul><li>企业会员</li><li>个人会员</li></ul>
              <a class="hyfc-news-more">MORE ></a>
          </div>
          <div class="bd">
              <ul class="sm-product-list clearfix">
                  <li>
                      <div class="sm-product-img">
                      <img class="lazy" data-original="../assets/images/qyfc1.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              职业技能
                          </h4>
                          <span>
                  技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sm-product-img">
                          <img class="lazy" data-original="../assets/images/qyfc2.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              企业内训
                          </h4>
                          <span>
                      技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                   </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sm-product-img">
                          <img class="lazy" data-original="../assets/images/qyfc3.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              学历培训
                          </h4>
                          <span>
                      技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sm-product-img">
                          <img class="lazy" data-original="../assets/images/qyfc4.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              出国游学
                          </h4>
                          <span>
                  技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
              </ul>
              <ul class="sm-product-list clearfix">
                  <li>
                      <div class="sm-product-img">
                          <img class="lazy" data-original="../assets/images/qyfc1.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              职业技能
                          </h4>
                          <span>
                  技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sm-product-img">
                          <img class="lazy" data-original="../assets/images/qyfc2.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              企业内训
                          </h4>
                          <span>
                      技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                   </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sm-product-img">
                          <img class="lazy" data-original="../assets/images/qyfc3.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              学历培训
                          </h4>
                          <span>
                      技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sm-product-img">
                          <img class="lazy" data-original="../assets/images/qyfc4.png">
                      </div>
                      <div class="product-list-content">
                          <h4>
                              出国游学
                          </h4>
                          <span>
                  技能培训是为了增强市场就业竞争力，由技能培训机构开展的。通过技能考核，可以得到国家认可的技能证书...
                  </span>
                          <div class="hyfc-btn-group">
                              <a class="sm-product-btn">了解详情<span>></span></a>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      <script type="text/javascript">jQuery(".hyfc-slideTxtBox").slide();</script>
  </div>

  <!--会员风采结束-->

  <!--专业委员会开始-->
  <div class="sm-title">
      专业委员会
  </div>
  <div class="wyh">
      <div class="wyh-picScroll-left">
          <div class="bd">
              <ul class="picList">
                  <li>
                      <div class="pic"><a  ><img class="lazy" data-original="../assets/images/wyh1.png" /></a></div>
                      <div class="title">
                          <div class="title1">商业摄影</div>
                          <div class="title2">Commercial Photography</div>
                          <div class="title3"><a> 工艺设计文化在活动举在活动举办中工艺设计文化在活动举办中</a></div>
                          <div class="title3"><a> 工艺设计文化在活动举在活动举办中工艺设计文化在活动举办中</a></div>
                      </div>
                  </li>
                  <li>
                      <div class="pic"><a ><img class="lazy" data-original="../assets/images/wyh2.png" /></a></div>
                      <div class="title">
                          <div class="title1">包装文化</div>
                          <div class="title2">Commercial Photography</div>
                          <div class="title3"><a> 工艺设计文化在活动举在活动举办中工艺设计文化在活动举办中</a></div>
                          <div class="title3"><a> 工艺设计文化在活动举在活动举办中工艺设计文化在活动举办中</a></div>
                      </div>
                  </li>
                  <li>
                      <div class="pic"><a ><img class="lazy" data-original="../assets/images/wyh3.png" /></a></div>
                      <div class="title">
                          <div class="title1">环艺设计</div>
                          <div class="title2">Commercial Photography</div>
                          <div class="title3"><a> 工艺设计文化在活动举在活动举办中工艺设计文化在活动举办中</a></div>
                          <div class="title3"><a> 工艺设计文化在活动举在活动举办中工艺设计文化在活动举办中</a></div>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="hd">
              <ul></ul>
          </div>
      </div>

      <script type="text/javascript">
          jQuery(".wyh-picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:3});
      </script>
  </div>
  <!--专业委员会结束-->

  <!--平台资源开始-->
  <div class="sm-title">
      平台资源
  </div>
  <ul class="sm-ptzy container_1200 clearfix">
      <li>
          <div class="sm-ptzy-title">
              求职 <br>信息
          </div>
          <ul>
              <li>
                  <a>
                  <div class="employ-name">
                      刘琴 <span>互动体验设计师</span>
                  </div>
                  <div class="employ-detail">
                      意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                  </div>
                  </a>
              </li>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
          </ul>
          <a class="sm-ptzy-btn">查看更多 <span>> </span></a>

      </li>
      <li>
          <div class="sm-ptzy-title">
              招聘 <br>信息
          </div>
          <ul>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
          </ul>
          <a class="sm-ptzy-btn">查看更多 <span>> </span></a>

      </li>
      <li>
          <div class="sm-ptzy-title">
              专业  <br>讲座
          </div>
          <ul>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
              <li>
                  <a>
                      <div class="employ-name">
                          刘琴 <span>互动体验设计师</span>
                      </div>
                      <div class="employ-detail">
                          意向地点：北京市  <span>  意向薪资：2-3万/月</span>
                      </div>
                  </a>
              </li>
          </ul>
          <a class="sm-ptzy-btn">查看更多 <span>> </span></a>

      </li>
  </ul>
  <!--平台资源结束-->

  <!--发展战略开始-->
  <div class="sm-fzzl">
      <div class="clearfix container_1200">
          <div class="sm-fzzl-left">
              <div class="sm-fzzl-line"></div>
              <div class="sm-fzzl-title-cn">长远发展战略服务</div>
              <div class="sm-fzzl-title-en">LONG-TERM DEVELOPMENT STRATEGY SERVICE</div>
              <a class="sm-fzzl-btn">查看更多<span> ></span></a>
          </div>
          <div class="sm-fzzl-right">

              <div id="multipleColumn" class="multipleColumn">
                  <div class="bd">
                      <div class="picList">
                          <li>
                              <div class="pic">
                              <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                 <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                          <li>
                              <div class="pic">
                                  <img class="lazy" data-original="../assets/images/product1.png">
                              </div>
                              <div class="title">
                                  张仪
                                  <span>UI高级设计师</span>
                              </div>
                          </li>
                      </div>
                  </div>
                  <div class="hd">
                      <ul></ul>
                  </div>
              </div>

              <script type="text/javascript">
                  /* 使用js分组，每6个li放到一个ul里面 */
                  jQuery("#multipleColumn .bd li").each(function(i){ jQuery("#multipleColumn .bd li").slice(i*6,i*6+6).wrapAll("<ul></ul>");});

                  /* 调用SuperSlide，每次滚动一个ul，相当于每次滚动6个li */
                  jQuery("#multipleColumn").slide({titCell:".hd ul",mainCell:".bd .picList",autoPage:true,effect:"leftLoop",autoPlay:true});
              </script>

          </div>
      </div>
  </div>
  <!--发展战略结束-->
<!--友情链接开始-->
  <div class="sm-yqlj container_1200">
      <div class="sm-product-title">
          友情链接
          <a class="sm-product-more">MORE ></a>
      </div>
      <ul class="sm-yqlj-lists clearfix">
          <li>
              <img class="lazy" data-original="../assets/images/yqlj7.png">
          </li>
          <li>
           <img class="lazy" data-original="../assets/images/yqlj1.png">
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/yqlj4.png">
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/yqlj3.png">
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/yqlj1.png">
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/yqlj5.png">
          </li>
          <li>
              <img class="lazy" data-original="../assets/images/yqlj2.png">
          </li>


          <li>
              <img class="lazy" data-original="../assets/images/yqlj6.png">
          </li>
      </ul>
  </div>
<!--友情链接结束-->
<!--联系我们开始-->
  <div class="space">

  </div>
  <div class="sm-lxwm">
       <div class="sm-lxwm-content container_1200 clearfix">
           <div class="sm-lxwm-map" id="sm-map"></div>
           <div class="sm-lxwm-detail">
               <div class="sm-lxwm-title">
                   联系我们<span>Contact</span>
               </div>
               <div class="sm-lxwm-name">
                   深圳市商业美术设计促进会
                   <span>地址：深圳市龙岗区龙岗大道湖广通创业大厦四楼</span>
                   <span>邮编：517000</span>
                   <span>电话：0755-83361978</span>
                   <span>手机：18088886666 / 18088886666 </span>
                   <span>传真：0755-88886666</span>
                   <span>邮箱：Windir@zppx.com</span>
               </div>
               <div class="sm-lxwm-line"></div>
           </div>


       </div>
  </div>
<!--联系我们开始-->
  <!--底部开始-->
  <div class="sm-footer">
      Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
  </div>
  <!--底部结束-->
   <!--右侧悬浮栏开始-->
  <div class="right-fixed">
      <ul>
          <li id="backTop">

          </li>
         <li>
            <a>
                关注<br>
                我们
            </a>
         </li>
          <li>
              <a>
                  QQ<br>
                  咨询
              </a>
          </li>
          <li>
              <a>
                  注册<br>
                  会员
              </a>
          </li>
      </ul>
  </div>

   <!--右侧悬浮栏结束-->
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("sm-map");
    var poi = new BMap.Point(114.252481, 22.716557);
    map.centerAndZoom(poi, 22);
    map.enableScrollWheelZoom();

    var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
        '地址：深圳市龙岗区龙岗大道3020号湖广通创业大厦（吉祥地铁站B出口）<br/>电话：0755-83361978<br/> ' +
        '</div>';

    //创建检索信息窗口对象
    var searchInfoWindow = null;
    searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
        title: "深圳市商业美术设计促进会",      //标题
        width: 290,             //宽度
        height: 80,              //高度
        panel: "panel",         //检索结果面板
        enableAutoPan: true,     //自动平移
        enableMessage: false,//是否显示发送到手机按钮
        enableSendToPhone: false,//是否启用发送到手机
        searchTypes: [
            BMAPLIB_TAB_SEARCH,   //周边检索
            BMAPLIB_TAB_TO_HERE,  //到这里去
            BMAPLIB_TAB_FROM_HERE //从这里出发
        ]
    });
    var marker = new BMap.Marker(poi); //创建marker对象
    marker.enableDragging(); //marker可拖拽
    marker.addEventListener("click", function (e) {
        searchInfoWindow.open(marker);
    })
    map.addOverlay(marker); //在地图中添加marker
    var top_right_navigation = new BMap.NavigationControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        type: BMAP_NAVIGATION_CONTROL_SMALL
    });
    map.addControl(top_right_navigation);
</script>
</body>
</html>