<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-关于我们_加入我们-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

<!--内容 开始-->
<section>
    <!--banner开始-->
    <div class="s_6banner"></div>
    <!--banner结束-->

    <!--nav开始-->
    <div class="s_6first">
        <div class="s_6first_1">
            <ul>
                <li><a href="javascript:void (0)" class="s_6first_1_a2">协会简介</a></li>
                <li><a href="javascript:void (0)" class="s_6first_1_a2">协会章程</a></li>
                <li><a href="javascript:void (0)" class="s_6first_1_a2">发展历程</a></li>
                <li><a href="javascript:void (0)" class="s_6first_1_a2">专家委员会</a></li>
                <li><a href="javascript:void (0)" class="s_6first_1_a2">联系我们</a></li>
                <li><a href="javascript:void (0)" class="s_6first_1_a1">加入我们</a></li>
            </ul>
            <p class="s_6_first_1_p">首页 > 关于我们 > <span>加入我们</span></p>
        </div>
    </div>
    <!--nav结束-->


    <!--招聘职位开始-->
    <div class="s_6second">
        <h2>招聘职位</h2>
        <ul>
            <li>
                <div class="left">
                    <dl>
                        <dt>互动体验设计师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：1人</dd>
                    </dl>
                    <a class="s_6second_a s_6second_a1" href="javascript:void (0)">了解详情 ></a>
                </div>

                <div class="right">
                    <dl>
                        <dt>高级UI设计师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：3人</dd>
                    </dl>
                    <a class="s_6second_a" href="javascript:void (0)">了解详情 ></a>
                </div>
            </li>

            <li>
                <div class="left">
                    <dl>
                        <dt>高级前端工程师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：2人</dd>
                    </dl>
                    <a class="s_6second_a" href="javascript:void (0)">了解详情 ></a>
                </div>

                <div class="right">
                    <dl>
                        <dt>高级品牌设计师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：1人</dd>
                    </dl>
                    <a class="s_6second_a" href="javascript:void (0)">了解详情 ></a>
                </div>
            </li>

            <li>
                <div class="left">
                    <dl>
                        <dt>高级平面设计师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：2人</dd>
                    </dl>
                    <a class="s_6second_a" href="javascript:void (0)">了解详情 ></a>
                </div>

                <div class="right">
                    <dl>
                        <dt>高级动画设计师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：3人</dd>
                    </dl>
                    <a class="s_6second_a" href="javascript:void (0)">了解详情 ></a>
                </div>
            </li>

            <li>
                <div class="left">
                    <dl>
                        <dt>用户体验设计师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：1人</dd>
                    </dl>
                    <a class="s_6second_a" href="javascript:void (0)">了解详情 ></a>
                </div>

                <div class="right">
                    <dl>
                        <dt>高级美术设计师</dt>
                        <dd>工作地点：深圳市 / 招聘人数：4人</dd>
                    </dl>
                    <a class="s_6second_a" href="javascript:void (0)">了解详情 ></a>
                </div>
            </li>
        </ul>
    </div>
    <!--招聘职位结束-->


    <!--员工活动开始-->
    <div class="s_6third">
        <h2>员工活动</h2>
        <ul>
            <li>
                <div>
                    <img src="../assets/images/jrwm/picture1.png" height="226" width="390"/>
                    <dl>
                        <dt>圣诞晚会</dt>
                        <dd>自公司创立伊始，每年的圣诞前夜，公司全体员工都会 齐聚一堂， 自导自演，载歌载舞，共同欢庆。</dd>
                    </dl>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture2.png" height="226" width="390"/>
                    <dl>
                        <dt>嘉年华</dt>
                        <dd>每年一次周年庆大型娱乐活动，覆盖公司全体员工及其 家属，是公司最大规模的员工及家属同庆的活动。</dd>
                    </dl>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture3.png" height="226" width="390"/>
                    <dl>
                        <dt>文体协会</dt>
                        <dd>为了关爱员工健康，丰富业余文化生活，成立了舞蹈、 音乐、 篮球、足球、羽毛球、桌游等各种协会。</dd>
                    </dl>
                </div>
            </li>

            <li>
                <div>
                    <img src="../assets/images/jrwm/picture4.png" height="226" width="390"/>
                    <dl>
                        <dt>圣诞晚会</dt>
                        <dd>自公司创立伊始，每年的圣诞前夜，公司全体员工都会 齐聚一堂， 自导自演，载歌载舞，共同欢庆。</dd>
                    </dl>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture5.png" height="226" width="390"/>
                    <dl>
                        <dt>嘉年华</dt>
                        <dd>每年一次周年庆大型娱乐活动，覆盖公司全体员工及其 家属，是公司最大规模的员工及家属同庆的活动。</dd>
                    </dl>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture6.png" height="226" width="390"/>
                    <dl>
                        <dt>文体协会</dt>
                        <dd>为了关爱员工健康，丰富业余文化生活，成立了舞蹈、 音乐、 篮球、足球、羽毛球、桌游等各种协会。</dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
    <!--员工活动结束-->


    <!--办公环境开始-->
    <div class="s_6fourth">
        <h2>办公环境</h2>
        <ul>
            <li>
                <div>
                    <img src="../assets/images/jrwm/picture7.png" height="234" width="290"/>
                    <p>总部大厦</p>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture8.png" height="234" width="290"/>
                    <p>总部大厅</p>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture9.png" height="234" width="290"/>
                    <p>公司前台</p>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture10.png" height="234" width="290"/>
                    <p>办公环境</p>
                </div>
            </li>

            <li>
                <div>
                    <img src="../assets/images/jrwm/picture11.png" height="234" width="290"/>
                    <p>休息区</p>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture12.png" height="234" width="290"/>
                    <p>生活区</p>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture13.png" height="234" width="290"/>
                    <p>接待室</p>
                </div>

                <div>
                    <img src="../assets/images/jrwm/picture14.png" height="234" width="290"/>
                    <p>会议室</p>
                </div>
            </li>
        </ul>
    </div>
    <!--办公环境结束-->
</section>
<!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">
            <i class="backtop"></i>
            返回顶部
        </li>
        <li>
            <a>
                <i class="wechat"></i>
                关注我们
            </a>
            <div class="hide">
                <div class="title">
                    微信公众号
                </div>
                <img src="../assets/images/qrcode.png">

            </div>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                QQ咨询
            </a>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                注册会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>