<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-资讯动态_资讯详情-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

 <!--内容 开始-->
<div class="container_1200">
    <div style="font-family: Verdana;font-size: 60px;font-style: italic;font-weight: bold">1234</div>
    <form>
        <table>
            <tr>

            </tr>
        </table>
    </form>
</div>
 <!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">

        </li>
        <li>
            <a>
                关注<br>
                我们
            </a>
        </li>
        <li>
            <a>
                QQ<br>
                咨询
            </a>
        </li>
        <li>
            <a>
                注册<br>
                会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>