<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-会员中心_申请企业-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

 <!--内容 开始-->
<section>
    <!--bannner开始-->
    <div class="s_21first"><img src="../assets/images/sqqy/banner1.png" width="100%"/></div>
    <!--bannner结束-->


    <div class="s_21second">
        <ul class="s_21second_u1">
            <li class="s_21second_u1_l2">个人会员</li>
            <li class="s_21second_u1_l1">企业会员</li>
        </ul>

        <ul class="s_21second_u2">
            <li class="s_21second_u2_l1">
                <div class="s_21second_d1 s_21second_d3">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture1.png" height="47" width="30"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture5.png" height="30" width="30"/>
                        <span>提交资料</span>
                    </p>
                </div>

                <div class="s_21second_d2 s_21second_d4">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture11.png" height="47" width="30"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture15.png" height="30" width="30"/>
                        <span>提交资料</span>
                    </p>
                </div>
            </li>

            <li>
                <div class="s_21second_d1 s_21second_d4">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture2.png" height="47" width="37"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture6.png" height="30" width="30"/>
                        <span>资料审核</span>
                    </p>

                </div>

                <div class="s_21second_d2 s_21second_d3">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture12.png" height="47" width="37"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture16.png" height="30" width="30"/>
                        <span>资料审核</span>
                    </p>
                </div>
            </li>

            <li>
                <div class="s_21second_d1 s_21second_d4">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture3.png" height="48" width="34"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture7.png" height="30" width="30"/>
                        <span>缴纳会费</span>
                    </p>
                </div>

                <div class="s_21second_d2 s_21second_d3">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture13.png" height="48" width="34"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture17.png" height="30" width="30"/>
                        <span>缴纳会费</span>
                    </p>
                </div>
            </li>

            <li>
                <div class="s_21second_d1 s_21second_d4">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture4.png" height="46" width="36"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture8.png" height="30" width="30"/>
                        <span>成为会员</span>
                    </p>
                </div>

                <div class="s_21second_d2 s_21second_d3">
                    <span class="s_21second_u2_span1"><img src="../assets/images/sqqy/picture14.png" height="46" width="36"/></span>
                    <p class="s_21second_u2_p">
                        <img src="../assets/images/sqqy/picture18.png" height="30" width="30"/>
                        <span>成为会员</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="s_21_third">
        <form action="" method="post">
            <table>
                <tr>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>单位名称：</td>
                    <td colspan="3"><input class="s_21_third_width1" type="text" name="CompanyName" placeholder="输入单位名称"/></td>
                </tr>

                <tr>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>注册证号：</td>
                    <td><input type="text" name="zheng_hao" placeholder=""/></td>
                    <td class="s_21_third_right s_21_third_width2"><span class="s_21_third_span">*</span>组织机构代码：</td>
                    <td><input type="text" name="dai_ma" placeholder=""/></td>
                </tr>

                <tr>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>单位性质：</td>
                    <td><input type="text" name="xing_zhi" placeholder=""/></td>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>成立日期：</td>
                    <td><input type="text" name="shi_jian1" placeholder=""/></td>
                </tr>

                <tr>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>注册资本：</td>
                    <td><input type="text" name="zi_ben" placeholder=""/></td>
                    <td class="s_21_third_right">员工人数：</td>
                    <td><input type="text" name="shi_jian" placeholder=""/></td>
                </tr>

                <tr>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>负责人：</td>
                    <td><input type="text" name="fu_ze_ren" placeholder=""/></td>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>职务：</td>
                    <td><input type="text" name="zhi_wu" placeholder=""/></td>
                </tr>

                <tr>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>手机号：</td>
                    <td><input type="text" name="Phone1" placeholder=""/></td>
                    <td class="s_21_third_right"><span class="s_21_third_span">*</span>座机号码：</td>
                    <td><input type="text" name="Phone2" placeholder=""/></td>
                </tr>

                <tr>
                    <td class="s_21_third_right">通讯地址：</td>
                    <td colspan="3"><input class="s_21_third_width1" type="text" name="Action" placeholder=""/></td>
                </tr>

                <tr>
                    <td class="s_21_third_right">公司主营业务：</td>
                    <td colspan="3" class="Textarea"><textarea name="Textarea" placeholder=""></textarea></td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="3" class="text"><span><img src="../assets/images/sqqy/picture19.png" height="15" width="15"/></span><span>本单位了解和认同协会的宗旨和章程，自愿申请为“<strong>深圳市商业美术设计促进<br/>&nbsp;&nbsp;&nbsp;&nbsp;会</strong>”会员，<strong>尊守协会章程</strong>和各项<strong>规章制度</strong>，积极参加协会活动。</span></td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="3" class="button"><a href="javascript:void(0)">提交</a></td>
                </tr>
            </table>
        </form>
    </div>
</section>
 <!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">
            <i class="backtop"></i>
            返回顶部
        </li>
        <li>
            <a>
                <i class="wechat"></i>
                关注我们
            </a>
            <div class="hide">
                <div class="title">
                    微信公众号
                </div>

            </div>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                QQ咨询
            </a>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                注册会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>