<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-关于我们_加入我们_职位详情-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

<!--内容 开始-->
<section>
    <!--互动体验设计师开始-->
    <div class="s_7first">
        <p class="s_7_first_1_p">首页 > 关于我们 > 加入我们 > <span>职位详情</span></p>

        <div class="s_7first_1">
            <h2>互动体验设计师</h2>
            <div class="s_7first_1_d">
                <ul>
                    <li>
                        <div>
                            <span><img src="../assets/images/zwxq/picture1.png" height="15" width="15"/></span>
                            <span>工作地点：</span>
                            深圳市
                        </div>

                        <div>
                            <span><img src="../assets/images/zwxq/picture2.png" height="19" width="19"/></span>
                            <span>招聘人数：</span>
                            1人
                        </div>
                    </li>

                    <li>
                        <div>
                            <span><img src="../assets/images/zwxq/picture3.png" height="21" width="21"/></span>
                            <span>职位类别：</span>
                            产品/项目类
                        </div>

                        <div>
                            <span><img src="../assets/images/zwxq/picture4.png" height="21" width="21"/></span>
                            <span>工作年限：</span>
                            五年以上
                        </div>
                    </li>

                    <li>
                        <div>
                            <span><img src="../assets/images/zwxq/picture5.png" height="17" width="17"/></span>
                            <span>学历要求：</span>
                            本科
                        </div>

                        <div>
                            <span><img src="../assets/images/zwxq/picture6.png" height="22" width="22"/></span>
                            <span>所属部门：</span>
                            淘宝设计部
                        </div>
                    </li>

                    <li>
                        <div>
                            <span><img src="../assets/images/zwxq/picture7.png" height="18" width="18"/></span>
                            <span>薪酬范围：</span>
                            面议
                        </div>

                        <div>
                            <span><img src="../assets/images/zwxq/picture8.png" height="17" width="17"/></span>
                            <span>发布时间：</span>
                            2018-6-7
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="container_1200 whitebackgroung">
            文章内容

        </div>

    </div>
    <!--互动体验设计师结束-->
</section>
<!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">
            <i class="backtop"></i>
            返回顶部
        </li>
        <li>
            <a>
                <i class="wechat"></i>
                关注我们
            </a>
            <div class="hide">
                <div class="title">
                    微信公众号
                </div>

            </div>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                QQ咨询
            </a>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                注册会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>