<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-会员中心_个人会员-商美</title>
    <link rel="stylesheet" href="../assets/css/sm.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../assets/js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="../assets/js/sm.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcowyo1iI8zNGh5p6Nnu4XjpF1ImSMSN"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

</head>
<body>
<!--logo、导航开始-->
<div class="sm-header">
    <div class="container_1200">
        <div class="sm-header-box">
            <ul class="sm-nav clearfix">
                <li class="on"><a>首页</a></li>
                <li><a>资讯动态</a></li>
                <li><a>关于我们</a></li>
                <li><a>产品与服务</a></li>
                <li><a>会员风采</a></li>
                <li><a>专业委员会</a></li>
                <li><a>人才库</a></li>
                <li><a>品牌推介</a></li>
            </ul>
            <div class="sm-header-tel">
                服务热线(仅收市话费)
                <span>400-0000-000</span>
            </div>
        </div>
    </div>
</div>
<!--logo、导航结束-->

 <!--内容 开始-->
<section>
    <!--banner开始-->
    <div class="s_19banner"></div>
    <!--banner结束-->

    <!--nav开始-->
    <div class="s_19first">
        <div class="s_19first_1">
            <ul>
                <li><a href="javascript:void (0)" class="s_19first_1_a1">全新新闻</a></li>
                <li><a href="javascript:void (0)" class="s_19first_1_a2">协会公告</a></li>
                <li><a href="javascript:void (0)" class="s_19first_1_a2">行业动态</a></li>
                <li><a href="javascript:void (0)" class="s_19first_1_a2">协会动态</a></li>
            </ul>
            <p class="s_19_first_1_p">首页 > <span>资讯动态</span></p>
        </div>
    </div>
    <!--nav结束-->

    <div class="s_19fourth">
        <ul>
            <li>
                <div class="s_19fourth_ul_div">
                    <div class="s_19fourth_d1"><img src="../assets/images/zxtd/picture3.png" height="187" width="390"/></div>
                    <div class="s_19fourth_d2">
                        <img src="../assets/images/zxtd/picture9.png" height="70" width="59"/>
                        <p>阿里巴巴入股蚂蚁金服33%股权</p>
                        <p>阿里巴巴将向蚂蚁金服转让阿里巴巴拥有的与蚂蚁金服...</p>
                    </div>
                </div>

                <div>
                    <div class="s_19fourth_d1"><img src="../assets/images/zxtd/picture4.png" height="187" width="390"/></div>
                    <div class="s_19fourth_d2">
                        <img src="../assets/images/zxtd/picture10.png" height="70" width="59"/>
                        <p>阿里巴巴入股蚂蚁金服33%股权</p>
                        <p>阿里巴巴将向蚂蚁金服转让阿里巴巴拥有的与蚂蚁金服...</p>
                    </div>
                </div>

                <div>
                    <div class="s_19fourth_d1"><img src="../assets/images/zxtd/picture5.png" height="187" width="390"/></div>
                    <div class="s_19fourth_d2">
                        <img src="../assets/images/zxtd/picture11.png" height="70" width="59"/>
                        <p>阿里巴巴入股蚂蚁金服33%股权</p>
                        <p>阿里巴巴将向蚂蚁金服转让阿里巴巴拥有的与蚂蚁金服...</p>
                    </div>
                </div>
            </li>

            <li>
                <div>
                    <div class="s_19fourth_d1"><img src="../assets/images/zxtd/picture6.png" height="187" width="390"/></div>
                    <div class="s_19fourth_d2">
                        <img src="../assets/images/zxtd/picture12.png" height="70" width="59"/>
                        <p>阿里巴巴入股蚂蚁金服33%股权</p>
                        <p>阿里巴巴将向蚂蚁金服转让阿里巴巴拥有的与蚂蚁金服...</p>
                    </div>
                </div>

                <div>
                    <div class="s_19fourth_d1"><img src="../assets/images/zxtd/picture7.png" height="187" width="390"/></div>
                    <div class="s_19fourth_d2">
                        <img src="../assets/images/zxtd/picture13.png" height="70" width="59"/>
                        <p>阿里巴巴入股蚂蚁金服33%股权</p>
                        <p>阿里巴巴将向蚂蚁金服转让阿里巴巴拥有的与蚂蚁金服...</p>
                    </div>
                </div>

                <div>
                    <div class="s_19fourth_d1"><img src="../assets/images/zxtd/picture8.png" height="187" width="390"/></div>
                    <div class="s_19fourth_d2">
                        <img src="../assets/images/zxtd/picture14.png" height="70" width="59"/>
                        <p>阿里巴巴入股蚂蚁金服33%股权</p>
                        <p>阿里巴巴将向蚂蚁金服转让阿里巴巴拥有的与蚂蚁金服...</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="s_19fifth">
        <ul class="s_19fifth_ul">
            <li class="s_19fifth_ul_prev"><a href="javascript:void (0)">< 上一页</a></li>
            <li class="s_19fifth_ul_a s_19fifth_ul_a1"><a href="javascript:void (0)">1</a></li>
            <li class="s_19fifth_ul_a"><a href="javascript:void (0)">2</a></li>
            <li class="s_19fifth_ul_a"><a href="javascript:void (0)">3</a></li>
            <li class="s_19fifth_ul_a"><a href="javascript:void (0)">4</a></li>
            <li class="s_19fifth_ul_a"><a href="javascript:void (0)">5</a></li>
            <li class="s_19fifth_ul_a"><a href="javascript:void (0)">6</a></li>
            <li class="s_19fifth_ul_next"><a href="javascript:void (0)">下一页 ></a></li>
        </ul>
    </div>
</section>

 <!--内容 开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018 <a target="_blank" href="http://www.szcadpa.com">http://www.szcadpa.com.</a>All Rights Res
</div>
<!--底部结束-->
<!--右侧悬浮栏开始-->
<div class="right-fixed">
    <ul>
        <li id="backTop">
            <i class="backtop"></i>
            返回顶部
        </li>
        <li>
            <a>
                <i class="wechat"></i>
                关注我们
            </a>
            <div class="hide">
                <div class="title">
                    微信公众号
                </div>

            </div>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                QQ咨询
            </a>
        </li>
        <li>
            <a>
                <i class="qq"></i>
                注册会员
            </a>
        </li>
    </ul>
</div>

<!--右侧悬浮栏结束-->

</body>
</html>